
* {
    margin: 0%;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Audiowide';
    src: url('./fonts/Audiowide-Regular.ttf') format('truetype');
}


body {
    background: white;
}
a {
    text-decoration: none;
    color: white;
}
.a {
    text-decoration: none;
    color: black;
}

/*navigation bar*/
.navbar {
    width: 86%;
    background: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(20px);
    margin: auto;
    padding: 1%;
    padding-top: 4%;
    display: block;
    text-align: center;
    justify-content: center;
    padding-bottom: 4%;
    border-radius: 0.5rem;
    border: solid 1.5px rgb(224, 213, 213);
    position: fixed;
    top: 2%;
    left: 7%;
    opacity: 0;
    box-shadow: 0px 1px 4px #6663632a;
    animation: drop 0.5s 2s ease both;
    z-index: 100;
}

@keyframes drop {
    1% {
        margin-top: -20%;
        position: fixed;
        top: -5%;
        opacity: 1;
    }

    100% {
        position: fixed;
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

/*nav grid container*/
.navs {
    padding: 2%;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-family: verdana;
    color: black;
    border-radius: 0.5rem;
}

.navs:hover {
    background: rgb(23, 83, 43);
    color: white;
}

/* A model holding elixora product */
.inverted-radius {
    --r: 20px;
    /* the radius */
    --s: 30px;
    /* size of inner curve */
    --x: 40px;
    /* horizontal offset (no percentane) */
    --y: 30px;
    /* vertical offset (no percentage) */

    width: 86%;
    margin-left: 7%;
    margin-top: 25%;
    aspect-ratio: 1;
    border-radius: var(--r);
    --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
    --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
        calc(100% - var(--_d) - var(--x)) 100% var(--_m),
        100% calc(100% - var(--_d) - var(--y)) var(--_m),
        radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px)) calc(-1*var(--r) - var(--x)) calc(-1*var(--r) - var(--y)),
        var(--_g) calc(-1*var(--_d) - var(--x)) 0,
        var(--_g) 0 calc(-1*var(--_d) - var(--y));
    mask-repeat: no-repeat;
}

/* subscribe button */
.subscribe {
    color: red;
    display: block;
    float: right;
    margin-right: 7%;
    border: none;
    margin-top: -18%;
    z-index: 5;
    border-radius: 0.8rem;
    padding: 0.5%;
    padding-top: 6%;
    padding-bottom: 6%;
    font-size: 0.95rem;
    font-weight: bolder;
    background: black;
}

/*story*/
/*titel*/
.title {
    color: rgb(253, 189, 46);
    font-weight: bolder;
}

/*full story*/
.story {
    width: 100%;
    margin-top: 20%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.596)), url('images/bg.jpg');
    background-size: 190%;
    color: white;
    font-family: verdana;
    font-size: 1.3rem;
    padding: 1rem;
}

/* become a vendor button */
.vendor {
    display: block;
    margin: auto;
    margin-top: 9%;
    font-size: 1.5rem;
    padding: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background: rgb(23, 83, 43);
    color: white;
    box-shadow: 0px 0px 4px grey;
    
}

/* Get in Touch Btn */
.G-TouCH {
color: black;
font-weight: bold;
font-size: 1.2rem;
font-family: tahoma;
display: block;
text-align: center;
padding-top: 10%;
}
/* get in touch description */
.G-Touch-Desc {
    font-family: verdana;
    padding: 0.5rem;
    display: block;
    text-align: center;
}

/* contact form for customer */
.container {
    background: rgb(23, 83, 43);
    width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 5%;
    margin-top: 5%;
    
}
.form-group {
    padding: 3%;
}
label {
    display: block;
    font-size: 1.15rem;
    color: white;
}
input {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;

}
textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0.3rem;
}
select {
    height: 2rem;
}

.contact-btn {
    background: rgb(218, 218, 218);
    padding: 4%;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    display: block;
    margin: auto;
    margin-top: 3%;
    font-weight: bold;
    color: rgb(23, 83, 43);
}
/* contact div ctn */
.contact-ctn {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    background: none;
    margin-bottom: 5%;
    padding: 3%;
}

.contact-ctn-child {
    margin: 3%;
    background: none;
    color: rgb(23, 83, 43);
    font-weight: bold;
}
/* location head */
.location {
color: black;
font-weight: bold;
font-size: 1.2rem;
font-family: tahoma;
display: block;
text-align: center;
padding-top: 1%;
}
/* full location in text description */
.full-location {
    margin: auto;
    width: 90%;
    font-family: verdana;
    padding: 0.5rem;
    display: block;
    text-align: center;
}





/* Footer */
.footer {
    width: 100%;
    background: black;
    color: white;
    padding: 5%;
    display: inline-block;
    text-align: center;
}

/* footer title */
.f-title {
    font-weight: bolder;
    font-size: 1rem;
    padding: 5%;
}

/* social media container */
.parent {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 5%;
    width: 100%;
    border-radius: 0.6rem;
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(5rem, 5vw, 11rem), 1fr));
    flex-wrap: wrap;
    gap: 0rem;
    padding: 0.5%;
}
/* child (social media icons */
.child {
    width: 30%;
    background-position: center;
    background-size: 100%;
    height: 1.5rem;
    border-radius: 0.7rem;
}

/* contact text */
.contact {
    font-weight: bold;
    margin-top: 5%;
    display: block;

}

.email {
    display: block;
    margin-top: 5%;
}
